package home

templ Home() {
	<html>
		<head>
			<link rel="stylesheet" href="/static/home/home.css"/>
			<title>ChatAlloy</title>
			<script src="/static/home.js"></script>
		</head>
		<body></body>
	</html>
}
